﻿@model List<SegaMania.Logic.AvisViewModel>
@{
    ViewBag.Title = "mesAvisJeu";
}


@if (!ViewBag.isEmpty)
{
    <h2>Mes avis pour les jeux</h2>

    <div class="row containerAllItems">
        @foreach (var avis in Model)
        {
            <div class="blockItem col-sm-offset-1 col-sm-4 col-lg-2">
                <p class="titleName">@avis.nom</p>
                <p>Description de l'avis: @avis.commentaire</p>
                <p>Le : @avis.DateAvis</p>
                <p>Note: @avis.noteDouble</p>
                <button class="btn btn-danger btn-xs deleteButtonAvis" type="button"> @Html.ActionLink("Supprimer", "SupprimerAvis", "AvisJeu", new { id = avis.id }, null) </button>
            </div>
        }
    </div>
}
