﻿@{
    ViewBag.Title = "Mes Avis";
}
@if (TempData["MessageAvis"] != null)
{
    <div class="alert alert-danger">
        @TempData["MessageAvis"]
    </div>
}
<h2 class="titleCenter">Mes avis</h2>
@Html.Action("MesAvisConsolePartial")
@Html.Action("MesAvisJeuPartial")

@if ((string)TempData["noItemConsole"] == "noItem" && (string)TempData["noItemJeu"] == "noItem")
{
    <p>Vous n'avez déposé aucun avis !</p>
}