﻿@model List<SegaMania.Data.test_Result>
@{
    ViewBag.Title = "Mes Consoles";
}

<h2 class="titleCenter">La liste de mes consoles</h2>

@if (Model.Count() == 0)
{
    <p>Il n'y a pas de console dans votre collection...</p>
}
else
{
    <div class="row containerAllItems">
        @foreach (var console in Model)
        {
        <div class="blockItem col-sm-offset-1 col-sm-4 col-lg-2">
            <h3>@Html.ActionLink(console.Nom, "DetailsConsole", "Console", new { nomSeo = console.NomSeo }, null)</h3>
            <br />
            @Html.ActionLink("Laissez un avis pour cette console", "LaisserUnavis", "AvisConsole", new { nomSeo = console.NomSeo }, new { @class = "link" })
            <button class="btn btn-danger btn-xs deleteButton" type="button"> @Html.ActionLink("Supprimer", "SupprimerConsole", "CompteUtilisateur", new { id = console.Id }, null) </button>
        </div>
        }
    </div>
}
