﻿@model List<SegaMania.Data.Jeu>
@{
    ViewBag.Title = "Mes Jeux";
}

<h2 class="titleCenter">Mes jeux</h2>

@if (Model.Count() == 0)
{
    <p>Il n'y a pas de jeu dans votre collection...</p>
}
else
{
    <div class="row containerAllItems">
        @foreach (var jeu in Model)
        {
        <div class="blockItem col-sm-offset-1 col-sm-4 col-lg-2">
            <h3>@Html.ActionLink(jeu.Nom, "DetailsJeu", "Jeu", new { nomSeo = jeu.NomSeo }, null)</h3>
            <br />
            @Html.ActionLink("Laissez un avis pour ce jeu", "LaisserUnavis", "AvisJeu", new { nomSeo = jeu.NomSeo }, new { @class = "link" })
            <button class="btn btn-danger btn-xs deleteButton" type="button">
                @Html.ActionLink("Supprimer", "SupprimerJeu", "CompteUtilisateur", new { id = jeu.Id }, null)
            </button>
        </div>
            }
    </div>
}
