﻿@using Microsoft.AspNet.Identity
<li class="leTest">
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a class=" dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Ma collection
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>@Html.ActionLink("Mes console", "MesConsoles", "CompteUtilisateur")</li>
            <li>@Html.ActionLink("Mes jeux", "MesJeux", "CompteUtilisateur")</li>
            <li>@Html.ActionLink("Mes avis", "MesAvis", "CompteUtilisateur")</li>
        </ul>
    </li>
    <li>@Html.ActionLink("Bonjour " + User.Identity.Name + " !", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Se déconnecter</a></li>
</ul>


    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("S’inscrire", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Se connecter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
</li>
