﻿@model SegaMania.WebUI.Models.RechercheViewModel
@{
    ViewBag.Title = "_MoteurDeRecherchePartial";
}
<li>
    <div class="search-container">
        @using (Html.BeginForm("Recherche", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <input type="text" placeholder="Entrez votre recherche..." name="search">
            <button type="submit"><i class="glyphicon glyphicon-search"></i></button>
        }
    </div>
</li>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}