﻿
@{
    ViewBag.Title = "_TestPartial";
}

<div class="form-group">
    <div class="col-md-2">
        <input type="submit" class="btn btn-default" value="OK" name="recherche" id="recherche" />
    </div>
</div>

