﻿@model SegaMania.Logic.AccueilViewModel
@{
    ViewBag.Title = "Accueil";
}

<div class="jumbotron text-center">
    <h1 class="titleSegaMania">SegaMania</h1>
    <p class="lead">Le meilleur site du monde pour gérer votre collection Sega</p>
</div>

<div class="container text-center">
    <h2>Pourquoi utiliser SegaMania ?</h2>
    <h3>Les bénéfices:</h3>

    <div class="row">
        <div class="col-md-6">
            <span class="glyphicon glyphicon-baby-formula logo-small"></span>
            <h4>Test 1</h4>
            <p>bla blabla blabla bla blabla blabla</p>
        </div>
        <div class="col-md-6">
            <span class="glyphicon glyphicon-baby-formula logo-small"></span>
            <h4>Test 2</h4>
            <p>bla blabla blabla bla blabla blabla</p>
        </div>
        <div class="col-md-6">
            <span class="glyphicon glyphicon-baby-formula logo-small"></span>
            <h4>Test 3</h4>
            <p>bla blabla blabla bla blabla blabla</p>
        </div>
        <div class="col-md-6">
            <span class="glyphicon glyphicon-baby-formula logo-small"></span>
            <h4>Test 4</h4>
            <p>bla blabla blabla bla blabla blabla</p>
        </div>
    </div>
</div>

<div class="container text-center blocGameofTheWeek">
    <div class="row">
        <div class="col-md-8">
            <h3>Toutes les semaines, découvrez en exclusivité, un jeu mis en avant</h3>
        </div>
        <div class="col-md-4">
            <div class="widget">
                <div>
                    Avis de la communauté 4.8/5
                    <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
                </div>
                <div>
                    Titre du jeu - Console
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container text-center">
    @foreach(var dto in Model.ListConsolesSega)
    {
    <article>
        @Html.ActionLink(dto.ConsoleSega.Nom, "DetailsConsole", "ConsoleSega", new { nomSeo = dto.ConsoleSega.NomSeo }, null)
        @if (dto.Note > 0)
        {
            <p>Note: @dto.Note</p>
        }
        <div>@dto.ConsoleSega.Description</div>
    </article>
    }
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Un jeu</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Une console</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Un accesoire</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">En apprendre plus &raquo;</a></p>
    </div>
</div>