﻿
@{
    ViewBag.Title = "test";
}

<h2>Laissez votre avis</h2>



























<form class="row">
    <div class="col-lg-8 col-sm-12 col-xs-12">
        <Label>Commentaire</Label>
        <textarea name="commentaire" id="commentaire" class="form-control" rows="5" style="width:75rem"></textarea>
    </div>
    <div class="col-lg-2 col-sm-6 col-xs-12">
        <label>Choississez une note entre 1 et 5</label>
        <select name="note" id="note" required class="form-control">
            <option>1</option>
            <option>1.5</option>
            <option>2</option>
            <option>2.5</option>
            <option>3</option>
            <option>3.5</option>
            <option>4</option>
            <option>4.5</option>
            <option>5</option>
        </select>
    </div>
    <div class="col-lg-2 col-sm-6">
        <input type="submit" value="OK" />
    </div>
</form>


