﻿@model SegaMania.Logic.JeuViewModel
@{
    ViewBag.Title = Model.JeuNom;
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-danger errorMessage">
        @TempData["Message"]
    </div>
}

<h2 class="titleCenter">@Model.JeuNom</h2>
<br />
<p class="descriptionItem">@Model.JeuDescription</p>
@if (Model.NombreAvisJeu > 0)
{
    <div class="divBold">Note du jeu : @Model.Note sur 5</div>
}
<div class="divBold">Nombre d'avis : @Model.NombreAvisJeu</div>
<div class="divBold">Sortie sur : @Model.NomConsole</div>
<div class="divBold">Date de sortie : @Model.JeuDateDeSortie.ToShortDateString()</div>
<br />

@if (Model.NombreAvisJeu > 0)
{
    @Html.ActionLink("Retrouvez les avis pour ce jeu", "ListAvis", "AvisJeu", new { nomSeo = Model.JeuNomSeo}, new { @class ="linkBloc"})
}
@Html.ActionLink("Laissez un avis pour ce jeu", "LaisserUnavis", "AvisJeu", new { nomSeo = Model.JeuNomSeo })
