﻿@using Microsoft.AspNet.Identity
@using SegaMania.Logic
@model List<SegaMania.Data.ConsoleSega>
@{
    ViewBag.Title = "Les jeux";
}

<h2 class="titleCenter">Le listing des jeux</h2>

<div class="row containerAllItems">
    @foreach (var console in Model)
    {
        <div class="row col-sm-12 col-lg-6">
            <h2 class="titleCenter">@console.Nom</h2>
            @{var userId = User.Identity.GetUserId();}
            @foreach (var jeu in console.Jeu)
            {
                <div class="blockItem col-sm-offset-1 col-sm-4">
                    <h3>@Html.ActionLink(jeu.Nom, "DetailsJeu", "Jeu", new { nomSeo = jeu.NomSeo }, null)</h3>
                    @Html.ActionLink("Laissez un avis pour ce jeu", "LaisserUnavis", "AvisJeu", new { nomSeo = jeu.NomSeo }, new { @class = "link" })
                    @if (userId != null)
                    {
                        if (BoutonVerification.BoutonAjoutJeuCollection(userId, jeu.Id))
                        {
                            <button class="btn btn-primary btn-xs addButton" type="button">@Html.ActionLink("Ajouter", "AjoutCollection", "Collection", new { id = jeu.Id, userID = userId, table = "jeuAssoPersonne" }, new { @class = "addLink" })</button>
                        }
                        else
                        {
                            <p class="alreadyHave">Ce jeu fait parti de votre collection</p>
                        }
                    }
                </div>
            }
        </div>
    }
</div>