﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #D1D1D1;
    font-family: 'Lato', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background-color: #173651;
    border-color: #173651;
}

.navbar li a:hover {
    background-color: #9D9D9D !important;
    color: #173651 !important;
}

.moteurDeRecherche{
    display:inline-flex;
}

.body-content {
    padding-top: 50px;
}

.jumbotron {
    background-image: url("../content/images/segaBackground.jpg");
    color: black;
    margin-top: 25px;
    border-radius: 7px;
}

.jumbotron + .container {
    background-color: #f0f0f0;
    border-radius: 7px;
    padding: 30px;
    width: auto;
}

.jumbotron h1:first-child {
    color: red;
    font-size: 77px;
}

.jumbotron p{
    font-size: 27px;
    font-weight:bold;
}

.lead {
    color: red;
    margin-top: -13px;
}

.navbar-brand {
    position: absolute;
}
.titleSegaMania {
    font-family: 'Permanent Marker', cursive;
    color: red!important;
}

;jumbotron + .segaManiaTitle {
    color: #173651;
}

.logo-small {
    color: #173651;
    font-size: 50px;
}

.blocGameofTheWeek{
    padding: 30px;
}

.widget {
    background-color: white;
    border: solid 1px #173651;
    border-radius: 5px;
}

.glyphicon-star {
    color: #FFBD00;
}

.widget div {
    padding: 15px;
}

.widget div:last-child {
    background-color: #173651;
    color: #9D9D9D;
}

.btn-default {
    background-color: #364E6F;
    border-color: #173651;
    color: #E7E9EA;
}

.errorMessage {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    text-align: center;
    width: 40%;
}

.titleCenter {
    text-align:center;
}

.link {
    display: block;
    position: absolute;;
    top: 123px;
}

.blockItem {
    background: white;
    border-radius: 3px;
    padding-bottom: 10px;
    min-height: 205px;
    margin-bottom: 20px;
}

.addButton {
    margin-top: 28px;
    position: absolute;
    top: 120px;
}

.addLink {
    color: white;
}

.alreadyHave {
    position: absolute;
    top: 162px;
}

.deleteButton {
    position: absolute;
    top: 97px;
}

.deleteButton a, .deleteButtonAvis a {
    color: white;
}

.deleteButtonAvis {
    position: absolute;
    top: 148px;
}

.titleName {
    font-weight: bold;
}

.navbar-collapse {
    position: relative;
    left: 96px;
}

.navbar-inverse .navbar-nav > .open > a {
    background-color: #969696;
}

.divBold {
    font-weight: bold
}

.linkBloc {
    display: block;
}

.descriptionItem {
    background-color: #f1f1f1;
    border-radius: 3px;
    padding: 25px;
}

textarea {
    max-width: 100%;
}

#note {
    max-width: 148px;
}

.okButton {
    margin-top: 40px;
}

@media screen and (max-width: 767px) {
    .containerAllItems {
        width: 80%;
        margin: auto;
    }

    .search-container {
        position: relative;
        left: 13px;
    }
}

@media screen and (min-width: 768px) {
    #logoutForm {
        position: relative;
        right: 374px;
    }

    .search-container {
        position: relative;
        top: 13px;
    }
}

@media screen and (min-width: 992px) {
    #logoutForm {
        right: 100px
    }
}
