﻿@using Microsoft.AspNet.Identity
@using SegaMania.Logic
@model SegaMania.Logic.ConsoleAvecJeuxViewModel
@{
    ViewBag.Title = Model.ConsoleNom;
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-danger">
        @TempData["Message"]
    </div>
}

<h2 class="titleCenter">@Model.ConsoleNom</h2>
<br />
<p class="descriptionItem">@Model.ConsoleDescription</p>
@if (Model.NombreAvisConsole > 0)
{
    <div class="divBold">Note de la console : @Model.Note sur 5</div>
}
<div class="divBold">Nombre d'avis : @Model.NombreAvisConsole</div>
<br />

@if (Model.NombreAvisConsole > 0)
{
    @Html.ActionLink("Retrouvez les avis pour cette console", "ListAvis", "AvisConsole", new { nomSeo = Model.ConsoleNomSeo }, new { @class = "linkBloc" })
}
@Html.ActionLink("Laissez un avis pour cette console", "LaisserUnavis", "AvisConsole", new { nomSeo = Model.ConsoleNomSeo }, null)

<h3>Les jeux de la @Model.ConsoleNom</h3>
@{var userId = User.Identity.GetUserId();}
<div class="row containerAllItems">
    @foreach (var leJeu in Model.Jeux)
    {
        <div class="blockItem col-sm-offset-1 col-sm-4 col-lg-2">
            <h3>@Html.ActionLink(leJeu.Nom, "DetailsJeu", "Jeu", new { nomSeo = leJeu.NomSeo }, null)</h3>
            @Html.ActionLink("Laissez un avis pour ce jeu", "LaisserUnavis", "AvisJeu", new { nomSeo = leJeu.NomSeo }, new { @class = "link" })
            @if (userId != null)
            {
                if (BoutonVerification.BoutonAjoutJeuCollection(userId, leJeu.Id))
                {
                    <button class="btn btn-primary btn-xs addButton" type="button">@Html.ActionLink("Ajouter", "AjoutCollection", "Collection", new { id = leJeu.Id, userID = userId, table = "jeuAssoPersonne" }, new { @class = "addLink" })</button>
                }
                else
                {
                    <p class="alreadyHave">Ce jeu fait parti de votre collection</p>
                }
            }
        </div>
    }
</div>