﻿@using Microsoft.AspNet.Identity
@using SegaMania.Logic
@model List<SegaMania.Data.ConsoleSega>
@{
    ViewBag.Title = "Les Consoles";
}

<h2 class="titleCenter">Les Consoles Sega</h2>

<div class="row containerAllItems">
@foreach (var console in Model)
{
    var userId = User.Identity.GetUserId();
        
        <div class="blockItem col-sm-offset-1 col-sm-4 col-lg-2">
            <h3>@Html.ActionLink(console.Nom, "DetailsConsole", "ConsoleSega", new { nomSeo = console.NomSeo }, null)</h3>
            @Html.ActionLink("Laissez un avis pour cette console", "LaisserUnavis", "AvisConsole", new { nomSeo = console.NomSeo }, new { @class = "link" })
            @if (userId != null)
            {
                if (BoutonVerification.BoutonAjoutConsoleCollection(userId, console.Id))
                {
                    <button class="btn btn-primary btn-xs addButton" type="button">@Html.ActionLink("Ajouter", "AjoutCollection", "Collection", new { id = console.Id, userID = userId, table = "ConsoleAssoPersonne" }, new { @class = "addLink" })</button>
                }
                else
                {
                    <p class="alreadyHave">Cette console fait parti de votre collection</p>
                }
            }
        </div>
    }
</div>