﻿@model SegaMania.Logic.LaisserUnAvisViewModel
@{
    ViewBag.Title = "Laisser votre avis";
}

<h2 class="titleCenter">@Model.Name</h2>
<h2 class="titleCenter">Laisser votre avis</h2>

<div class="row">
    @using (Html.BeginForm("SaveComment", Model.Controller, FormMethod.Post))
    {
        <br />
        <div class="row col-xs-12 col-sm-12 col-lg-8">
            <Label class="col-lg-12">Commentaire</Label>
            <div class="col-lg-12">
                <textarea name="commentaire" id="commentaire" rows="10" cols="600"></textarea>
            </div>
        </div>
        <br />
        <div class="row col-xs-12 col-sm-3 col-lg-2">
            <label class="col-sm-12 col-lg-12">Choississez une note entre 1 et 5</label>
            <select name="note" id="note" required class="col-sm-12 col-lg-12">
                <option>1</option>
                <option>1.5</option>
                <option>2</option>
                <option>2.5</option>
                <option>3</option>
                <option>3.5</option>
                <option>4</option>
                <option>4.5</option>
                <option>5</option>
            </select>
        </div>
        <div class="col-col-xs-12 sm-1 col-lg-1 okButton">
            <input type="submit" value="OK" class="col-lg-12" />
        </div>


            <input type="hidden" value="@Model.NomSeo" name="nomSeo" id="nomSeo" />
            }
        </div>
