﻿@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "listAvis";
}

@if (ViewBag.JeuOuConsole == "Jeu")
{
    <h2>La liste des avis pour ce jeu</h2>
}
else
{
    <h2>La liste des avis pour cette console</h2>
}

@foreach (var avis in ViewBag.ListAvis)
{
    <p>L'avis de @avis.Nom: @avis.Description</p>
    <p>Le : @avis.DateAvis</p>
    <p>Note: @avis.Note</p>
    if (avis.UserId == User.Identity.GetUserId())
    {
        if (ViewBag.JeuOuConsole == "Jeu")
        {
            <button class="btn btn-danger btn-xs" type="button"> @Html.ActionLink("Supprimer", "SupprimerAvis", "AvisJeu", new { id = avis.Id }, null) </button>
        }
        else
        {
            <button class="btn btn-danger btn-xs" type="button"> @Html.ActionLink("Supprimer", "SupprimerAvis", "AvisConsole", new { id = avis.Id }, null) </button>
        }
    }

}


